body {
    font-family: "poppins";
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-left: 40%;
    background-color: #efefef;
    width: 350px;
    height: 400px;
    align-items: center;
}

.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1690fa;
    width: 300px;
    height: 300px;
}


.sub img {
    
    height: 260px;
    width: 260px;
}

.profile {
   
    border-color: #61b667;
    /* margin-left: 150px; */
    background-color: #f2f2f2;
    width: 250px;
    height: 350px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    
}

.b1{
    width: 260px;
    height: 380px;
    border-color: yellow;
    margin-left: 160px;
   padding: 10px;
   
    background-color:blue;
}

.profile h1 {
    font-size: 26px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 650;
}

.profile1 {
    margin-left: 20px;
    background-color: #ffffff;
    height: 200px;
    width: 200px;
    margin-top: -10px;
    border-radius: 10px;
}

.profile1 img {
    width: 100px;
    height: 100px;
    border-radius:150px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.profile1 p {
    font-weight: 600;
    margin-top: -10px;
    text-align: center;
}

.skills {
    text-align: center;
    font-size: 14px;
}

.icon {
    color: #61b667;
}

.main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60%;
    margin-top: -350px;
    width: 320px;
    height: 400px;
    background-color: #d2d2d2;
}

.sub-box {

    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.box-img {
    width: 100px;
    height: 100px;
    margin-top: -100%;
    margin-left: 100px;
    border-radius: 10px;
}

.name {
    font-size: 20px;
    color: #1690f8;
}

.body-box p {
    font-size: 14px;

}

.body-box {
    text-align: left;
}

.box-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2px;
    letter-spacing: 20px;
    background-color: #1690f8;
    width: 200px;
    height: 30px;
}   

.description {
    font-size: 15px;
    text-align: center;
}

